{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-1 mt-2">
  <h2 class="text-center">Запись на курсы</h2>
  <div class="container col-12 col-md-5 col-lg-4 mt-4 mb-4">
    <form method="post">
      {% csrf_token %}
      <hr>
      <h4>Информация о Заказчике:</h4>
        {% for field in form %}
        {% if 'parent' in field.name %}
        {{ field.errors }}
        {{ field.label }}
        {{ field }}
        {% endif %}
        {% endfor %}

      <br>
       <hr>
      <div>
        <h4>Информация об Ученике:</h4>
        {% for field in form %}
        {% if 'pupil' in field.name %}
        {{ field.errors }}
        {{ field.label }}
        {{ field }}
        {% endif %}
        {% endfor %}
      </div>
      {{ form.courses.errors }}
      {% verbatim %}
      <div id="vue">
        <div class="mt-2 mb-2 py-2">
          <div class="mb-3">
            <label for="selectAge" class="fw-bold me-2">ВОЗРАСТ</label>
            <select v-model="selectedAge" id="selectAge" @change="getAvailableSubjects" required>
              <option value="">Все</option>
              <option v-for="age in ages" :value="age.id">{{ age.age }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="selectSubject" class="fw-bold me-1">ПРЕДМЕТ</label>
            <select v-model="selectedSubject" id="selectSubject" class="me-3" @change="getCourses"
              :disabled="subjectsDisabled">
              <option value="">Все</option>
              <option v-for="subject in subjects" :value="subject.id" class="text-capitalize">
                {{ subject.title }}
              </option>
            </select>
          </div>
        </div>
        <p v-if="showWarning">Для отображения курсов выберите возраст и предмет</p>
        <div v-for="course in courses">
          <div>
            <input type="checkbox" :id="course.id" :value="course.id" name="courses" v-model="course.checked">
            <label :for="course.id">{{ course.title }} (<span v-for="subj in course.subject">{{ subj.title }}</span>)</label>
          </div>
        </div>
      </div>
      {% endverbatim %}
      <br>
      <input type="submit" value="Записаться" class="col-12 btn btn-primary">
    </form>
    <script type="text/javascript">
      new Vue({
        el: '#vue',
        data: {
          showWarning: true,
          subjectsDisabled: true,
          courses: [],
          subjects: [],
          ages: [],
          selectedSubject: '',
          selectedAge: '',
        },
        methods: {
          getCourses() {
            let subjParam = '';
            if (this.selectedAge != '') {
              if (this.selectedSubject != '') {
                subjParam = '&subjId=' + this.selectedSubject
              };
              axios
                .get('/api/courses?ageId=' + this.selectedAge + subjParam)
                .then(response => {
                  this.courses = response.data;
                  if (this.courses.length > 0) { this.showWarning = false }
                  else { this.showWarning = true };
                });
            }
          },
          getAvailableSubjects() {
            this.subjectsDisabled = false;
            this.selectedSubject = '';
            this.courses = [];
            axios
              .get('/api/subjects?ageId=' + this.selectedAge)
              .then(response => {
                this.subjects = response.data;
                this.getCourses()
                if (this.courses.length > 0) { this.showWarning = false }
                else { this.showWarning = true };
              });
          },
        },
        created() {
          axios
            .get('/api/ages/')
            .then(response => {
              this.ages = response.data;
            });
          this.getUser();
        }
      }
    )
    </script>
  </div>
</section>
{% endblock %}