{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container col-lg-10">
      <div class="row">
          <h3>Контакты</h3>
          <p>г. Заречный, ул. Ленинградская, 29А</p>
          <p>Тел. +7-919-367-2831 (с 17 августа по 26 мая по будням с 15.00 до 20.00)</p>
          <p><i class="fab fa-vk"></i> <a href="https://vk.com/public.cpperspektiva">Мы ВКонтакте</a></p>
          <p><i class="fa fa-envelope"></i> <a href="mailto:zarperspectiva@gmail.com">zarperspectiva@gmail.com</a></p>
      </div>
    </div>
</section>

{% endblock %}