{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container col-lg-10">
      <div class="row">
          <h3>Контакты</h3>
          <p>{{ address }}<br>
          {{ admin_phone }}</p>
          <hr>
          <div class="d-flex row">
              <div class="ms-2 me-3 mb-3 col-sm-12 col-lg-3 text-center">
                <img src="/media/{{ admin_photo }}" class="rounded-circle w-100" style="max-width:200px;">
              </div>
              <div class="d-flex flex-column justify-content-end col-sm-12 col-lg-8">
                  {{ contacts_info | safe }}
              </div>
          </div>
          </div>
          <hr>
          <p><i class="fab fa-vk"></i> <a href="{{ vk_link }}">Мы ВКонтакте</a></p>
          <p><i class="fa fa-envelope"></i> <a href="mailto:{{ admin_email }}">{{ admin_email }}</a></p>
      </div>
    </div>
</section>

{% endblock %}