{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-3">
    <div class="container col-lg-8">
      <div class="row">
          <h1>КУРСЫ</h1>
          {% verbatim %}

            <div id="vue">
              <div v-for="course in courses">
                <toggle-list-item :course="course"></toggle-list-item>
              </div>
            </div>

          <template id="list-item">
          <div class="course-card card border border-2 border-secondary mb-2">
            <div class="card-body px-2 py-3">
              <h4 class="mb-0 font-sans-serif fw-bold fs-md-0 fs-lg-1">{{ course.title|upper }}</h4>
              <h6 class="mb-0 font-sans-serif fw-bold fs-md-0 fs-lg-1 mb-2">{{ course.subject_name.toUpperCase() }}</h6>
              <hr>
              <p class="mb-0 font-sans-serif fs-md-0 fs-lg-1 mb-4">{{ course.info }}</p>
              <h6 class="mb-0 font-sans-serif fw-bold fs-md-0 fs-lg-1">ПРЕПОДАВАТЕЛЬ: {{ course.teacher_name|upper }}</h6>

              <div>
                  <div v-show="visible" class="mt-2">
                      <div><b>{{ course.count_overall }} занятий по {{ course.duration }} минут</b></div>
                      <div><b>Занятий в неделю:</b> {{ course.count_a_week }}</div>
                      <div><b>Группа:</b> {{ course.group_size }}</div>
                      <div><b>Цена за одно занятие:</b> {{ course.price_once_alone }} ₽ ({{ course.price_once_group }} ₽ в группе)</div>
                      <div><b>Цена за месяц:</b> {{ course.price_pass_alone }} ₽ ({{ course.price_pass_group }} ₽ в группе)</div>

                  </div>
                  <div class="mt-3">
                    <button class="btn btn-primary me-2" @click="toggle()">{{visible?'СКРЫТЬ':'ПОДРОБНЕЕ'}}</button>
                    <button class="btn btn-primary">ЗАПИСАТЬСЯ</button>
                  </div>
              </div>
            </div>
          </div>
          </template>
          {% endverbatim %}
      </div>
    </div>
</section>
<script type="text/javascript">
    Vue.component('toggle-list-item', {
      template: '#list-item',
      props: ['course'],
      methods: {
        toggle() {
          this.visible = !this.visible;
        }
      },
      data() {
        return {
          visible: false
        }
      },
    })

    var app = new Vue({
      el: '#vue',
      data: {
        visible: false,
        courses: [],
      },
      mounted() {
        axios
          .get('/api/courses/')
          .then(response => {
            this.courses = response.data;
          });
      }
    })
</script>
{% endblock %}