{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container px-3 col-lg-9"">
        <h3>
            {{ site_info }}
        </h3>

    </div>
</section>
<section class="py-3">
    <div class="container col-lg-9">
      <div class="row">
          <p class="mt-3">
            <h1>КУРСЫ: {{ subject|upper }}</h1>
          </p>
        {% for course in courses %}
          <a href="{% url 'course' course.pk %}">
              <div class="course-card card border border-2 border-secondary h-100 mb-4">
                <div class="card-body px-2 py-3">
                  <h5 class="mb-0 font-sans-serif fw-bold fs-md-0 fs-lg-1">{{ course.title|upper }}</h5>
                </div>
              </div>
          </a>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}