{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-3">
    <div class="container col-lg-8">
      <div class="row">
          <h3>Экспорт данных</h3>
          <div><a href="{% url 'export-students' %}">Экспортировать список студентов</a></div>
          <div><a href="{% url 'export-courses' %}">Экспортировать список курсов</a></div>
          <div><a href="{% url 'export-records' %}">Экспортировать список записей</a></div>
      </div>
    </div>
</section>

{% endblock %}