{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container px-3 col-lg-9">
        <h3>
            {{ site_info }}
        </h3>

    </div>
</section>
<section class="py-3">
    <h2 class="text-center">Запись на курсы в 2021—2022 учебном году</h2>
    <div class="container col-12 col-md-5 col-lg-4 ">

        <form method="post">
            <h4>Информация об Ученике:</h4>
            <hr>
            {% csrf_token %}
            {% for field in form %}
            {% if  'pupil' in field.name %}
                {{ field.errors }}
                {{ field.label }}
                {{ field }}
            {% endif %}
            {% endfor %}
            <br>
            <h4>Информация о Заказчике:</h4>
            <hr>
            {% for field in form %}
            {% if  'parent' in field.name %}
                {{ field.errors }}
                {{ field.label }}
                {{ field }}
            {% endif %}
            {% endfor %}
            <p class="text-danger">{{ form.subjects.errors }}</p>
            {{form.subjects.label}}
            {{form.subjects}}
            <br>
            <input type="submit" value="Записаться" class="col-12">
        </form>
    </div>
</section>
{% endblock %}