{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-1">
  <h2 class="text-center">Запись на курсы</h2>
  <div class="container col-12 col-md-5 col-lg-4 mt-4 mb-4">
    <form method="post">
      <h4>Информация об Ученике:</h4>
      <hr>
      {% csrf_token %}
      {% for field in form %}
      {% if 'pupil' in field.name %}
      {{ field.errors }}
      {{ field.label }}
      {{ field }}
      {% endif %}
      {% endfor %}
      <br>
      <h4>Информация о Заказчике:</h4>
      <hr>
      {% for field in form %}
      {% if 'parent' in field.name %}
      {{ field.errors }}
      {{ field.label }}
      {{ field }}
      {% endif %}
      {% endfor %}
      {{ form.courses.errors }}
      {% verbatim %}
      <div id="vue">
        <div class="mt-2 mb-2 py-2">
          <div class="mb-3">
            <label for="selectAge" class="fw-bold me-2">ВОЗРАСТ</label>
            <select v-model="selectedAge" id="selectAge" @change="getAvailableSubjects($event)">
              <option value="">Все</option>
              <option v-for="age in ages" :value="age.id">{{ age.age }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="selectSubject" class="fw-bold me-1">ПРЕДМЕТ</label>
            <select v-model="selectedSubject" id="selectSubject" class="me-3" @change="getCourses($event)">
              <option value="">Все</option>
              <option v-for="subject in subjects" :value="subject.id" class="text-capitalize">
                {{ subject.title }}
              </option>
            </select>
          </div>
        </div>
        <div v-for="course in courses">
          <div :course="course">{{ course.title }}</div>
        </div>
      </div>


      {% endverbatim %}
      <br>
      <input type="submit" value="Записаться" class="col-12 btn btn-primary">
    </form>
    <script type="text/javascript">
      new Vue({
        el: '#vue',
        data: {
          courses: [],
          subjects: [],
          ages: [],
          selectedSubject: '',
          selectedAge: '',
        },
        methods: {
          getCourses(event) {
            if (this.selectedAge != '' && this.selectedSubject != '') {
              axios
                .get('/api/courses?ageId=' + this.selectedAge + '&subjId=' + this.selectedSubject)
                .then(response => {
                  this.courses = response.data;
                });
              console.log(this.courses)
            }
          },
          getAvailableSubjects(event) {
            axios
              .get('/api/subjects?ageId=' + this.selectedAge)
              .then(response => {
                this.subjects = response.data;
              });
            this.getCourses();
          },
        },
        created() {
          axios
            .get('/api/ages/')
            .then(response => {
              this.ages = response.data;
            });
        },
        computed: {
          filteredCourses() {
            let tempCourses = this.courses;
            if (this.selectedSubject) {
              tempCourses = tempCourses.filter((item) => {
                return (item.subject == this.selectedSubject);
              });
            }
            if (this.selectedAge) {
              tempCourses = tempCourses.filter((item) => {
                return (item.age.includes(this.selectedAge));
              })
            }
            return tempCourses;
          }
        }
      })



    </script>
  </div>
</section>
{% endblock %}