@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTSans-Narrow.woff2') format('woff2'),
        url('PTSans-Narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "PT Sans Narrow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.course-card {
    background-color: #ffffff;
}

.mobile-offcanvas{
    visibility: hidden;
    display: none;
}

@media all and (max-width: 992px) {

	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
		border-radius:0;
		display:block;
		position: fixed;  top: 0; left:0;
		height: 100vh; width:50%;
		z-index: 1200;
		overflow-y: scroll;
		overflow-x: hidden;
		transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible;
        display: block;
        transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}

    .dropdown-toggle {
        display: none;
    }
}

.avatar-pic {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    object-fit: cover;
}