@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTSans-Narrow.woff2') format('woff2'),
        url('PTSans-Narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "PT Sans Narrow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.course-card {
    background-color: #ffffff;
}

.mobile-offcanvas{
    visibility: hidden;
    display: none;
}

@media all and (max-width: 992px) {

	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
		border-radius:0;
		display:block;
		position: fixed;  top: 0; left:0;
		height: 100vh; width:50%;
		z-index: 1200;
		overflow-y: scroll;
		overflow-x: hidden;
		transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible;
        display: block;
        transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}

    .dropdown-toggle {
        display: none;
    }
}

.avatar-pic {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.content{
    height:100%;
    min-height:calc(100vh - 282px);
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: whitesmoke;
}


.text-justify {
    text-align: justify;
}

iframe {
    max-width: 100%;
}

.readmore {
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
  transition:max-height 0.15s ease-out;
}

.readmore.expand{
  max-height: 5000px !important;
  transition:max-height 0.35s ease-in-out;
}

.readmore-link{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width:100%;
  height: 60px;
  text-align: center;
  color: black;
  font-weight:bold;
  font-size:16px;
  padding-top:40px;
  background-image: linear-gradient(to bottom, transparent, white);
  cursor: pointer;
}

.readmore-link.expand {
  position: relative;
  background-image: none;
  padding-top:10px;
  height:20px;
}

.readmore-link:after {
  content:"Читать далее";
}

.readmore-link.expand:after{
  content:"Свернуть";
}

.thead-dark th {
    color: #fff;
    background-color: #10203F;
    font-weight: 400;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.input-group-addon {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

h1 a {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 a {
    font-size: 2.5rem;
  }
}

h2 a {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 a {
    font-size: 2rem;
  }
}

h3 a {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 a {
    font-size: 1.75rem;
  }
}

h4 a {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 a {
    font-size: 1.5rem;
  }
}

h5 a {
  font-size: 1.25rem;
}

h6 a {
  font-size: 1rem;
}