{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container col-12 col-md-5 col-lg-4 mt-4 mb-4">
      <div class="row text-center">
        Письмо с инструкциями по сбросу пароля отправлено на указанный при регистрации почтовый
            адрес. Для сброса пароля пройдите по ссылке в письме.
            <button class="btn btn-round form-control">
                <a href="{% url 'index' %}">на главную</a>
            </button>
      </div>
    </div>
</section>
{% endblock %}