{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container col-12 col-md-5 col-lg-4 mt-4 mb-4">
      <div class="row">
            <h2>Сброс пароля</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Отправить ссылку">
                </form>
                <a href="{% url 'index' %}" class="">на главную</a>
            </div>
        </div>
</section>
{% endblock %}
