{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container col-12 col-md-5 col-lg-4 mt-4 mb-4">
      <div class="row text-center">
            <h3>Поздравляем!</h3>
          <p>Учетная запись пользователя <b>{{ user.username }}</b> подтверждена.</p>
          <p>Для продолжения выполните вход, использую данные указанные при регистрации.</p>
                <a href="{% url 'index' %}" class="">на главную</a>
            </div>
        </div>
</section>
{% endblock %}