version: '3.8'
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_PASSWORD=fsd0g9er0iht3_32wersdWer
      - POSTGRES_USER=django
    ports:
      - '5432:5432'
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/create_tables.sql

volumes:
  db:
    driver: local