{% extends 'zarperspectiva/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container col-lg-10">
      <p><a href="{% url 'staff:index' %}">К панели администратора</a></p>
      <div class="row">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">ДОБАВИТЬ</button>
        </form>
      </div>
    </div>
</section>

{% endblock %}