{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Перспектива - Заречный. Подготовка к школе, ОГЭ, ЕГЭ"/>
    <meta name="author" content=""/>
    <meta name="keywords" content="Перспектива - Заречный" />
    {% block head %}
        <title>Перспектива</title>
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'zarperspectiva/img/favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'zarperspectiva/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'zarperspectiva/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'zarperspectiva/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'zarperspectiva/img/favicon/site.webmanifest' %}">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/0gvbx3khpux8ttxya90l94tvhtl5q2susbtpfb5fkan33okh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
<main>
    <!-- Header -->
    {% include 'zarperspectiva/includes/inc_main_menu.html' %}

    {% block content %}

    {% endblock %}
</main>


</body>
</html>