<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-auto m-auto"><i class="fa-solid fa-map-location-dot"></i> г. Заречный, ул. Ленинградская, 29А</div>
            <div class="col-auto m-auto"><i class="fa-solid fa-phone"></i> Тел. +7-919-367-2831</div>
            <div class="col-auto m-auto"><i class="fab fa-vk"></i> <a href="https://vk.com/public.cpperspektiva">Мы ВКонтакте</a></div>
            <div class="col-auto m-auto"><i class="fa fa-envelope"></i> <a href="mailto:zarperspectiva@gmail.com">zarperspectiva@gmail.com</a></div>
        </div>
        <div class="text-center"><a href="{% url 'auth:terms-conditions' %}">Политика конфиденциальности </a></div>
        <div class="text-center">2022</div>
    </div>
</div>