<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-auto m-auto"><i class="fa-solid fa-map-location-dot"></i> {{ address }}</div>
            <div class="col-auto m-auto"><i class="fa-solid fa-phone"></i> Тел. {{ admin_phone }}</div>
            <div class="col-auto m-auto"><i class="fab fa-vk"></i> <a href="{{ vk_link }}">Мы ВКонтакте</a></div>
            <div class="col-auto m-auto"><i class="fa fa-envelope"></i> <a href="mailto:{{ admin_email }}">{{ admin_email }}</a></div>
        </div>
        <div class="text-center"><a href="{% url 'auth:terms-conditions' %}">Политика конфиденциальности </a></div>
    </div>
</div>