    <span class="screen-darken"></span>
    <section class="py-3" style="background-color:#10203F;">
        <div class="container" id="topNav">
          <div class="d-flex justify-content-between">
            <a data-trigger="navbar_main" class="nav-link text-white px-lg-3 py-3 d-lg-none btn d-flex align-items-center" type="button">
              <i class="fa-solid fa-bars fs-3"></i>
            </a>
            <div class="col-auto d-flex align-items-center"><a class="navbar-brand" href="{% url 'index' %}"><img src="/media/logo.png" width="141" alt="logo" /></a></div>
            <div class="col-auto d-flex flex-row align-items-center d-none d-lg-flex">
                <div class="col-auto "><a class="nav-link text-light" href="#!">КОНТАКТЫ</a></div>
                <div class="col-auto "><a class="nav-link text-light" href="{% url 'courses' %}">КУРСЫ</a></div>
                <div class="col-auto "><a class="nav-link text-light" href="">ЗАПИСЬ</a></div>
            </div>
            </div>
          </div>
        </div>


        <!-- Mobile Menu -->

        <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg navbar-dark bg-primary px-3">
            <div class="container-fluid">
                <div class="offcanvas-header">
                    <button class="btn-close float-end"></button>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item py-1 lh-1">
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="nav-link px-lg-3 py-2 py-lg-3 lh-1" href="">
                            КОНТАКТЫ
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="nav-link px-lg-3 py-2 py-lg-3 lh-1" href="{% url 'courses' %}">
                            КУРСЫ
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="nav-link px-lg-3 py-2 py-lg-3 lh-1" href="">
                            ЗАПИСЬ
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <script>
    function darken_screen(yesno){
        if( yesno == true ){
          document.querySelector('.screen-darken').classList.add('active');
        }
        else if(yesno == false){
          document.querySelector('.screen-darken').classList.remove('active');
        }
      }

      function close_offcanvas(){
        darken_screen(false);
        document.querySelector('.mobile-offcanvas.show').classList.remove('show');
        document.body.classList.remove('offcanvas-active');
      }

      function show_offcanvas(offcanvas_id){
        darken_screen(true);
        document.getElementById(offcanvas_id).classList.add('show');
        document.body.classList.add('offcanvas-active');
      }

      document.addEventListener("DOMContentLoaded", function(){

        document.querySelectorAll('[data-trigger]').forEach(function(everyelement){
          let offcanvas_id = everyelement.getAttribute('data-trigger');
          everyelement.addEventListener('click', function (e) {
            e.preventDefault();
                show_offcanvas(offcanvas_id);
          });
        });

        document.querySelectorAll('.btn-close').forEach(function(everybutton){
          everybutton.addEventListener('click', function (e) {
                close_offcanvas();
            });
        });

        document.querySelector('.screen-darken').addEventListener('click', function(event){
          close_offcanvas();
        });

      });
      // DOMContentLoaded  end
</script>